# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Model artifacts
*.pkl
*.h5

# VSCode
.vscode/

# Logs
sim/logs/*
analysis/plots/*

# Docker
*.log
